body{
  margin:0px;
  background-image:url('http://bgfons.com/upload/paper_grid_PNG5405.png');
}
header {
  background: linear-gradient(to bottom right, #000099 30%, #ccffff 100%);
  padding:20px;
  margin:0px;
}
header a{
   color: white;
   text-decoration:none;
   font-size:20px;
}
.menu a{
   color: white;
   text-decoration:none;
   font-size:10px;
}
.menu a:hover{
    font-size:20px;
    color:#e6ffe6;
    transition:0.5s ease-out;
}
nav{
   display:flex;
   justify-content: space-around;
}
.menu {
    width:70px;
    background: linear-gradient(to right,#000099 0%, #ccffff 100%);
    padding:10px;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    position: fixed;
    left:0px;
    top:60px;
}
.menu:hover{
    width:120px;
    background-color:#0000e6;
    transition:0.5s ease-out;
}
main {
  margin:30px 100px 30px 100px;
}
.rivni{
    border:solid 5px  #990000;
    border-radius:15px;
    box-shadow:5px 5px 5px 5px #99bbff;
    background-color:white;
    padding:5px;
}
.algo h4{
    text-align: right;
}
.terome h4{
    text-decoration:underline overline  #990000;
}
ul {
   font-size:20px;
   list-style:ul("https://ig1.freepng.ru/20180320/tuw/kisspng-check-mark-computer-icons-clip-art-green-check-mark-2-icon-5ab1d1bfebf0f5.0376901715216030079664.jpg");
}
.rozdrod{
      display:flex;
      justify-content:space-between;
      font-size:20px;
}
.rozdrode{
      width:50%;
}
