header {
  background-color: #0000e6;
  padding:20px;
  margin:0px;
}
header a, div a{
   color: white;
   text-decoration:none;
}
nav{
   display:flex;
   justify-content: space-around;
}
div{
    background-color: #0000e6;
    padding:15px;
    display:flex;
    justify-content:flex-start;
    position: fixed;
}
